# input and output files from the parsing process
data/guidelines/*
data/bounding-boxes/*/*.json
data/bounding-boxes/*.json
data/bounding-boxes/*/images/*
!data/bounding-boxes/schema.json
!data/bounding-boxes/*/schema.json
data/annotated/*/*.pdf

# IDE settings and Cache
.idea
.DS_Store
__pycache__

# Secrets
.env