parsing/guidelines/*
parsing/bounding-boxes/*/*.json
parsing/bounding-boxes/*.json
parsing/bounding-boxes/*/images/*
!parsing/bounding-boxes/schema.json
!parsing/bounding-boxes/*/schema.json
parsing/annotated/*/*.pdf

.idea
.DS_Store
.env